.hero {
    background: url(/assets/hero.jpg);
    width: 100%;
    /* set height */
    min-height: 10vh;
    max-height: 40vh;
    top: 10px;
    position: relative;
    /* Parallax scrolling effect: */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}