.wrap {
    background-color: rgb(163, 186, 229);
}

.wrapItUp {
    margin: 2% 15% 10% 15%;
    padding-bottom: 1%;
}

#line {
    border: 1px solid blue;
    width: 10%;
    margin: auto;
}

.circle {
    border: 1px solid white;
    width: 2em;
    height: 2em;
    border-radius: 0.99em;
    text-decoration: none;
    color: white;
    padding-top: 0.4em;
    margin-bottom: 0.7em;
    font-size:xx-large;
}

.img_winter {
    height: 300px;
    overflow: hidden;


}