<div class="allcards">
    <div class="container pb-5 mb-5">
        <h3 class="stage pt-3 pb-3"></h3>
        <div class="row g-2">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center hov">Lindes Travel Agency</h5>
                        <p class="card-text text-center">Steyr in der Region Phyrn Eisenwurzen <br> Stadtplatz 11 <br> 4400 Steyr</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title hov text-center">Contact</h5>
                        <p class="card-text text-center">Info@LindesTravelAgency.at
                            <br> +43 664 123 456 </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title hov text-center">Office</h5>
                        <p class="card-text text-center">Lindes Travel Agency
                            <br> Stadtplatz 11
                            <br> 4400 Steyr</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>